<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Customer-App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor02"
      aria-controls="navbarColor02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >Release</a
          >
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
      </ul>
      <!-- <div class="outer-wrap">
        <div class="inner-wrap">
          <form class="d-flex">
            <input
              class="form-control me-sm-2"
              type="search"
              placeholder="Search Movie Name"
              name="searchMovieName"
              [(ngModel)]="searchMovieName"
            />
            <button
              class="btn btn-secondary my-2 my-sm-0"
              (click)="searchMovie()"
            >
              Search
            </button>
          </form>
          <div class="list" [ngClass]="!isDisplaySearch ? 'empty' : ''">
            <label
              for=""
              *ngFor="let movie of movies"
              (click)="displayMovie(movie._id)"
              ><img
                width="30"
                height="30"
                src="../../assets/images/{{ movie._id }}.png"
                alt="" />
              {{ movie.name }} <i class="fa-solid fa-delete-left"></i
            ></label>
          </div>
        </div>
      </div> -->
    </div>
    <div>
      <button class="btn btn-primary my-2 my-sm-0 sign-in" routerLink="/login">
        Sign in
      </button>
      <button
        class="btn btn-primary my-2 my-sm-0 sign-in"
        routerLink="/register"
      >
        Register
      </button>
    </div>
    <!-- <div *ngIf="_authenticationService.isLoggedIn">
      <span>Welcome,{{ loggedInUser }}</span>
      <button class="btn btn-primary my-2 my-sm-0 sign-in" (click)="logout()">
        Log out
      </button>
    </div> -->
  </div>
</nav>
